﻿@model    IEnumerable< Cardinal.EasyApps.ED.Model.CaratulaCS>

@{
    ViewBag.Title = "Ver Historico";
}



<h2>Ver Historico</h2>

@(Html.Telerik().Grid(Model)
       .Name("Grid")
            .Localizable("es-ES")
       .DataKeys(keys => { keys.Add(o => o.codigo); })
       .Columns(columns =>
       {
           columns.Bound(o => o.codigo).Title("Numero").Width(70);
           columns.Bound(o => o.fecha).Title("Fecha").Format("{0:dd/MM/yyyy hh:mm}").Width(100);
           columns.Bound(o => o.nombre_empresa).Title("Empresa").Width(150);
           columns.Bound(o => o.plantilla).Title("Plantilla");
           columns.Bound(o => o.FechaInbound).Title("Inbound").Format("{0:dd/MM/yyyy hh:mm}").Width(100);
           columns.Bound(o => o.FechaOutbound).Title("OutBound").Format("{0:dd/MM/yyyy hh:mm}").Width(100);
           columns.Bound(o => o.codigo).Width(60).Format(Html.ActionLink("Ver", "VerReporte", new { id = "{0}" }, new { @class = "botonGrid_2" }).ToHtmlString()).Encoded(false).Title("Ver Reporte");
           columns.Bound(o => o.codigo).Width(60).Format(Html.ActionLink("Anular", "AnularCaratula", new { id = "{0}" }, new { @class = "botonGrid_2" }).ToHtmlString()).Encoded(false).Title("Anular");
       })
       .DetailView(detailView => detailView.Template( 
           @<text>
                @(Html.Telerik().Grid(item.DetalleCampos)
                        .Name("Campos_" + item.codigo)
                        .Columns(columns =>
                        {
                            columns.Bound(o => o.campo).Title("Campo");
                            columns.Bound(o => o.valor).Title("Valor");
                        })
                        .Footer(false)
               )
           </text>
       ))
                            .Scrollable(scrolling => scrolling.Enabled(true).Height(400))
                            .Sortable(sorting => sorting.Enabled(true))
                            .Pageable(paging => paging.PageSize(50))
                            .Filterable(filtering => filtering.Enabled(true))
                            .Groupable(grouping => grouping.Enabled(true))
                                .HtmlAttributes(new { style = "font-size: x-small;" }) 
       
)