﻿@model List<Cardinal.EasyApps.ED.Model.PlantillaCampo>
          

          
@helper DisplayCampo(Cardinal.EasyApps.ED.Model.PlantillaCampo item)
    {
        switch (item.TipoCampo)
        {
            case Cardinal.EasyApps.ED.Model.TipoCampo.Fecha:
                    @(Html.Telerik().DatePicker().Name(item.CampoId).HtmlAttributes(new { id = "DatePicker_wrapper" }).ShowButton(true))
                break;
            case Cardinal.EasyApps.ED.Model.TipoCampo.Texto:
                if (item.ValoresPosibles.Count() == 0)
                {
                    @Html.TextBox(item.CampoId)
                }
                else
                {
               @(Html.Telerik().ComboBox().Name(item.CampoId)
                    .AutoFill(true)
                    .BindTo(new SelectList(item.ValoresPosibles, "Key", "Value"))
                    .HtmlAttributes(new { style = string.Format("width:300px") })
                    .Filterable(filtering => { filtering.FilterMode(AutoCompleteFilterMode.StartsWith); })
                    .HighlightFirstMatch(true)


                )
                }
                break;
            case Cardinal.EasyApps.ED.Model.TipoCampo.Numero:
                        @(Html.Telerik().NumericTextBox().Name(item.CampoId).Spinners(false)
                            .EmptyMessage("Ingrese Valor").InputHtmlAttributes(new { style = "width:100px" }).DecimalDigits(2))
                    break;
            default:
                    break;
        } 
}

@{
    bool hayDetalle = Model.Where(p => p.EsCampoDetalle == true).Count() > 0;
}

@helper DisplayDetalle(List<Cardinal.EasyApps.ED.Model.PlantillaCampo> model) {
   
    if (true) {
        <text>
        <tr>
            <td colspan="2">
               <fieldset>
                    <legend>Campos Detalle</legend>
                    <div id="camposDetallePlantilla">
                        <table id="campoPlantillaDetalle">
                            <tr >
                            @foreach (var item in model.Where(p => p.EsCampoDetalle == true)){
                                <td>@item.Nombre</td>
                                 <td>  @DisplayCampo(item)</td>
        
                            }
                           
                     </tr>
                    </table>
                    <button id="agregarDetalleButton">Agregar Detalle</button>
                    </div>
                </fieldset>
            </td>
        </tr>
         </text>
    }
}
  
 <script type="text/javascript">
     var i = 1;
     $("#agregarDetalleButton").click(function () {
         $("#campoPlantillaDetalle tr:first").clone().find("input").each(function () {
             var input = $(this).attr({
                 'id': function (_, id) { return id + i },
                 'name': function (_, name) { return name + i },
                 'value': ''
             });

             if (input.parent().hasClass("t-picker-wrap")) {
                 input.tDateTimePicker(); //create DateTimePicker using $.fn.tDateTimePicker.defaults
             }

         }).end().appendTo("#campoPlantillaDetalle");
         i++;
     });
 </script>      
           
<table>
@foreach (var item in Model.Where(p => p.EsCampoDetalle == false))
{
    <tr>
        <td>@item.Nombre
        </td>
         
        <td>
            @DisplayCampo(item)
        </td>
    </tr>
    if (hayDetalle) { 
          @DisplayDetalle(Model)

    }
    
     
}


</table>



