<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Scripts/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/GrillaTelerik.css")" rel="stylesheet" type="text/css" />
     
     <script src="@Url.Content("~/Scripts/jquery-1.6.2.min.js")" type="text/javascript"></script>
    @MvcMiniProfiler.MiniProfiler.RenderIncludes()
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.14.min.js")" type="text/javascript"></script>
  
     @Html.Telerik().StyleSheetRegistrar().DefaultGroup(group => group.Add("telerik.common.min.css").Add("telerik.webblue.min.css").Combined(true).Compress(true))
   
       <script src="@Url.Content("~/Glimpse/Resource/?resource=Pager")" type="text/javascript"></script>
       @RenderSection("HeaderContent", false)
 <script type="text/javascript">
     $(function () {
         $.ajaxSetup({ cache: false });
     });
    </script>
   </head>

 <body>
    <div class="page">
      <div class="header">
        <div class="title">
     
          <h1>
        @* <img style="padding-top:2px" src="<%: Url.Content("~//Content/images/logoEasydoc.jpg")%>" width="100px" height="30px"/>*@
            Cardinal Systems
          </h1>
        </div>
        <div class="loginDisplay">
        @Html.Partial("_LogOnPartial")
        </div>
        <div id="hideSkiplink"  class="hideSkiplink">
          <nav>
             @if (Request.IsAuthenticated){ 
                 <nav>  
                  @{ Html.Telerik().Menu().Name("Menu").Items(menu =>
                                                           {
                                                               menu.Add()
                                                               .Text("Inicio").Action("Index", "Home");
                                                               menu.Add()
                                                              .Text("Caratulas")
                                                                 .Items(item =>
                                                                  {
                                                                      item.Add().Text("Alta").Action("Create", "Caratula");
                                                                      item.Add().Text("Ver Historico").Action("VerHistorico", "Historico");
                                                                  });
                                                               menu.Add()
                                                             .Text("Tablas Externas").Action("VerTablasExternas", "TablasExternas");
                                                           }).Render();
                   }
            </nav>
                }
          </nav>
        </div>
      </div>

      <div id="main"  class="main">
            @RenderBody()
      </div>
      <div class="clear">
       @*    <div  style="background-color:#91364D; text-align:left; height:35px; color:White;" >
        <img src="<%: Url.Content("~//Content/images/logoCardinal.JPG")%>" width="70px" height="30px"/></div>*@
        <div style="background-color:#91364D; text-align:right; padding-right:10px; padding-bottom:5px; height:15px; color:White;" class="footer">
       
       @{
       System.Reflection.Assembly assem = System.Reflection.Assembly.GetAssembly(typeof(Cardinal.Caratulas.Controllers.AccountController));
               System.Reflection.AssemblyName assemName = assem.GetName();
               Version ver = assemName.Version;
               string version = "(Version {0}.{1}.{2}.{3})";
               version = System.String.Format(version,
                                                ver.Major,
                                                ver.Minor,
                                                ver.Build,
                                                ver.Revision
                                               );

           }
            EasyDoc Caratulas
            @version - Copyright Cardinal Systems 2011 - <a href="@Url.Content("~/Resources/ModuloCaratulas.pdf")" target="_blank" style="color:White">
            Manual de usuario
          </a>
        </div>
        <br />
      </div>
    </div>
  @Html.Telerik().ScriptRegistrar().DefaultGroup(group => group.Combined(true).Compress(true));
  </body>
</html>
