﻿@model Cardinal.Caratulas.Models.LogOnModel

@{
    ViewBag.Title = "Log In";
}

<h2>Log In</h2>

    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
  
    @using (Html.BeginForm()) { 
        @Html.ValidationSummary(true, "Login was unsuccessful. Please correct the errors and try again.")
        <div>
            <fieldset style="padding:5px;">
                <legend>Datos de la cuenta</legend>
                
                <div class="editor-label">
                    @Html.LabelFor(m => m.UserName)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(m => m.UserName)
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>
                
                <div class="editor-label">
                   @Html.LabelFor(m => m.Password) 
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(m => m.Password) 
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
                
                <div class="editor-label">
                    @Html.CheckBoxFor(m => m.RememberMe) 
                    @Html.LabelFor(m => m.RememberMe) 
                </div>
                
                <p>
                    <input type="submit" value="Log On" />
                </p>
            </fieldset>
        </div>
    }
